@font-face {
  font-family: "Roboto";
  src: 
    url("fonts/roboto-variablefont_wdthwght-webfont.woff") format("woff"),
    url("fonts/roboto-variablefont_wdthwght-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

svg {
  fill: currentColor;
}

ul {
  list-style-type: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

body > * {
  width: 100%;
  height: 100vh;
}

#sidebar {
  background-color: #258BD0;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 5%;

  grid-column: 1;
}

.sidebar-item {
  flex: none;
  min-height: auto;
}

#sidebar-header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  font-size: 1.7em;
  font-weight: bold;
  gap: 10%;
}

.sidebar-item > ul {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.sidebar-item > ul > li {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10%;
  font-size: larger;
  font-weight: bold;
  min-height: fit-content;
}

.sidebar-item > ul {
  display: grid;
  gap: 2%
}
.sidebar-item > ul > li > svg {
  height: 70%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;

  grid-column: 2;
}

main > header {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 2% 3%;
}

#search {
  display: flex;
  align-items: center;
  gap: 2%
}

#search > svg, #profile > svg {
  height: 2em;
}

#search > input {
  height: 2.5em;
  width: 40vw;
  padding: 2px 1.5em;

  background-color: #E1E7EF;
  border: none;
  border-radius: 2em;
  font-family: "Roboto", sans-serif;
}

#search > input:focus {
  outline: 1px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: larger;
  font-weight: bold;
}

.avatar {
  height: 60px;
}

#big-avatar {
  height: 90px;
}

#welcome {
  display: flex;
  gap: 3%;
  align-items: center;
}

#welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#salutation {
  font-weight: bold;
}

#username {
  font-weight: bold;
  font-size: 1.7em;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

#buttons > button {
  border: none;
  background-color: #258BD0;
  color: white;
  height: 2.5em;
  width: 25%;
  border-radius: 2.5em;
  font-size: large;
  font-weight: bold;
}

main > #display-area {
  background-color: lightgrey;
  
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.display-header {
  font-size: larger;
  font-weight: bolder;
}

#projects {
  background-color: #E1E7EF;
  display: flex;
  flex-direction: column;
  padding: 3% 3%;
  gap: 1.5%;
}

#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh;
  gap: 3%;
}

.project {
  background: linear-gradient(to right, #F0B429, #F0B429 8px, white 8px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 5%;

  display: flex;
  flex-direction: column;
}

.proj-header {
  font-weight: bold;
}

.proj-body {
  color: #9E9E9E;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #9E9E9E white;
}

.proj-footer {
  align-self: flex-end;
  display: flex;
  gap: 1em;
  padding-top: 3%;
}

.proj-footer > img {
  height: 1.5em;
}

.proj-footer > img:hover, li > svg:hover, li > span:hover {
  cursor: pointer;
}

#feed {
  background-color: lightgreen;
}